<%= form_tag({controller: 'sessions', action: 'create' }, {method: 'post'}) do %>
  <p>
    username: <input name='username'><br />
    password: <input name='password'>
  </p>
<%= submit_tag 'login' %>
  <p><%= link_to "Don't have an account yet? Sign up!", '/signup' %></p>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
