<%= form_tag({controller: 'sessions', action: 'create' }, {method: 'post'}) do %>
  <p>
    username: <input name='username'><br />
    password: <input name='password'>
  </p>
  <input type='submit' value='login'>
  <p><%= link_to "Don't have an account yet? Sign up!", '/signup' %></p>
<% end %>
