p {
  color: white;
}

#header {
  padding: 20px;
}

/* MAP */

#map {
  position:relative;
  top:0;
  width:50%;
  height:600px;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

#info {
  float:top;
  position: relative;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* LIST */

.list-heading {
  color: white;
}

.list {
  height: 540px;
  padding: 0px;
  overflow: auto;
}


.list-container {
  padding: 0px;
  background-color: #212121;
  height: 600px;
}

.list-container div {
  margin: 0px;
}

/* FORMS */

form p {
  color: black;
}

input[type=range] {
  width: 25%;
}

/* REVIEWS */

#review, .list h3 {
  padding-left: 15px;
  padding-right: 15px;
}

#review, .list h3 :hover {
  color: white;
  text-decoration: none;
}

#review, .list h3 :focus {
  color: white;
  text-decoration: none;
}

#review:hover {
  background-color: #8495a5;
}

#review a:hover {
  color: white;
  text-decoration: none;
}

.review-preview {
  background-color: #8495a5;
  padding: 10px;
}

.review-content {
  font-weight: bold;
}

#overlay {
  margin: 20px;
  align-self: center;
}

#overlay-container {
  background-color: #212121;
  height: 600px;
}
