<div id="get-position">

  <p>nickname: <input id="nickname" type="text" name="nickname" value="<%= @location.nickname %>" placeholder="my backyard"></input></p>
  latitude: <input id="lat" type="text" name="lat" value="<%= @location.lat %>"></input>
  longitude: <input id="lon" type="text" name="lon" value="<%= @location.lon %>"></input>
  <button onClick="getPosition()">Autofill</button>

  <p><%= submit_tag "Submit" %></p>

</div>
