<div id="get-position">

  <p>name: <input id="name" type="text" name="name" value="" placeholder="my backyard"></input></p>
  latitude: <input id="lat" type="text" name="lat" value=""></input>
  longitude: <input id="lon" type="text" name="lon" value=""></input>
  <button onClick="getPosition()">Autofill</button>

  <p><%= submit_tag "Submit Location" %></p>

</div>
