<div class="row">

<!-- Map of anchorages -->

  <div class="col-lg-6" id='map' >
  </div>

<!-- List of locations -->

  <div class="col-lg-3 list-container">
    <div class="col-lg-12 list-heading"><h3>All Locations</h3></div>
    <div class="col-lg-12 list">
      <% @locations.order(:country).group_by(&:country).each do |country, locations| %>
        <h3><a href="" onClick="showLocations(event)" data-country="<%= country %>"><%= country %></a></h3>
        <div class="country-list" id="country-list-<%= country %>"></div>
      <% end %>
    </div>
  </div>

<!-- Overlay-->

  <div class="col-lg-3" id='overlay'>
  </div>

</div>
