<h3>All Locations</h3>


<div class="row-fluid">

<!-- Map of anchorages -->

  <div class="col-lg-6" id='map' >
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiemVya29uaXVtIiwiYSI6ImNqY2NrY281dzAxeXUyeHBnZWo5a2t3YXkifQ.KeqRj11iwks2f6HVBvB3_Q';
      var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/satellite-v9', // stylesheet location
          center: [-65.017, -16.457], // starting position [lng, lat]
          zoom: 1 // starting zoom
      });

      // Add geolocate control to the map.
      map.addControl(new mapboxgl.GeolocateControl({
          positionOptions: {
              enableHighAccuracy: true
          },
          trackUserLocation: true
      }));

      // Define points
      var geojson = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "properties": {
                    "message": "Foo",
                    "iconSize": [60, 60]
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -66.324462890625,
                        -16.024695711685304
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "message": "Bar",
                    "iconSize": [50, 50]
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -61.2158203125,
                        -15.97189158092897
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {
                    "message": "Baz",
                    "iconSize": [40, 40]
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        -63.29223632812499,
                        -18.28151823530889
                    ]
                }
            }
        ]
    };

        // add markers to map
        geojson.features.forEach(function(marker) {
        // create a DOM element for the marker
        var el = document.createElement('div');
        el.className = 'marker';
        el.style.backgroundImage = 'url(https://placekitten.com/g/' + marker.properties.iconSize.join('/') + '/)';
        el.style.width = marker.properties.iconSize[0] + 'px';
        el.style.height = marker.properties.iconSize[1] + 'px';

        el.addEventListener('click', function() {
            window.alert(marker.properties.message);
        });

        // add marker to map
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .addTo(map);
      });
    </script>
  </div>

  <!-- List of locations -->

  <div class="col-lg-6 list-container">
    <div class="list">
      <% @locations.each do |location| %>
        <h4><%= link_to location.nickname, location_path(location) %></h4>
        latitude: <%= location.lat %><br />
        longitude: <%= location.lon %>
      <% end %>
    </div>
  </div>

</div>
