<h3>All Locations</h3>

<div class="row-fluid">

<!-- Map of anchorages -->

  <div class="col-lg-6" id='map' >
    <pre id='info'></pre>
  </div>

<!-- List of locations -->

  <div class="col-lg-6 list-container">
    <div class="list">
      <% @locations.group_by(&:country).each do |country, locations| %>
        <h3><a href="" onClick="showLocations(event)" data-country="<%= country %>"><%= country %></a></h3>
        <div class="country-list" id="country-list-<%= country %>"></div>
      <% end %>
    </div>
  </div>

</div>
