<h3>All Locations</h3>

<div class="row-fluid">

  <!-- Map of anchorages -->

  <div class="col-lg-6" id='map' ></div>

  <!-- List of locations -->

  <div class="col-lg-6 list-container">
    <div class="list">
      <% @locations.order(:nickname).each do |location| %>
        <h4><%= link_to location.nickname, location_path(location) %></h4>
        latitude: <%= location.lat %><br />
        longitude: <%= location.lon %>
      <% end %>
    </div>
  </div>

</div>
