<div class="col-md-12">

  <h3>Add New Anchorage</h3>

  <%= form_for(Location.new) do |f| %>

    <%= render 'locator', f: f %>
    <%= render '/reviews/nestedreview', f:f %>
    <%= f.submit 'Submit', html: {id: 'submit'} %>

  <% end %>

</div>
